@model IEnumerable<AspaApp.Models.User>
@{
    if (User.Identity.IsAuthenticated == true)
    {

        Layout = "_Layout2";
    }
    else
    {

        Layout = "_Layout";
    }


    ViewData["Title"] = "User page";
}
<br>
<h4>Ваш профиль</h4>

<br>
@foreach (var u1 in Model.Where(p => p.Email == User.Identity.Name))
{


    <div class="alert alert-info" role="alert">
        Id пользователя : @u1.Id
    </div>
    <div class="alert alert-info" role="alert">
        Имя пользователя : @u1.Email
    </div>



}